@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
    --color-primary: #2E3192;
    --color-primary-dark: #080934;
    --color-secondary: #FF0000;
    --color-secondary-dark: #e20000;
    --box-shadow: 6px 6px 10px -12px rgba(0, 0, 0, 0.5);
}

.color-brand-bg {
    background-color: #fff;
}

.nav-link {
    font-weight: 500;
}
.nav-link.active {
    color: var(--color-secondary) !important;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
}

h1, h2, h3, h3, h4 {font-weight: 700; color: var(--color-primary-dark);}
h5, h6 {color: var(--color-secondary);}
h1 {font-size: 2.25rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.25rem;}
h5 {font-size: 1rem;}
h6 {font-size: .8rem;}
p{font-size: 1rem;line-height: 1.6;}

.section {
    width: 100%;
    min-height: 100vh;
}

.container-custom {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3em;
}

@media screen and (max-width: 580px) {
    .container-custom {
          padding: 0 1em;
    }
}

.button {
    font-size: 14px;
    border-radius: 4px;
    padding: 15px 45px;
    font-family: inherit;
    color: #fff;
    background-color: var(--color-secondary);
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
    border: none;
    text-transform: uppercase;
    transition: .1s linear;
}
.button:hover{
    transition: .3s linear;
    color: #fff;
    background-color: var(--color-secondary-dark);
    box-shadow: var(--box-shadow);
}

.button-sm {
    font-size: 14px;
    border-radius: 4px;
    padding: 8px 16px;
    font-family: inherit;
    color: #fff;
    background-color: var(--color-secondary);
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
    border: none;
    text-transform: uppercase;
    transition: .1s linear;
}
.button-sm:hover{
    transition: .3s linear;
    color: #fff;
    background-color: var(--color-secondary-dark);
    box-shadow: var(--box-shadow);
}

// MAIN

// hero-section
.hero-section {
    background:linear-gradient(0deg, rgba(112, 112, 112, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/Hero.png) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
    .hero-content {
        padding-top: 24vh;
        p {
            max-width: 45ch;
            margin-top: 1rem;
        }
        a {
            margin-top: 2rem;
        }
    }
}

// hero-secondary-section
.hero-secondary-section {
    background:linear-gradient(0deg, rgba(112, 112, 112, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/Hero.png) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 160px;
    position: relative;
    .hero-secondary-content {
        position: absolute;
        bottom: 1rem;
        p {
            color: #fff;
        }
    }
}

// overview
.about {
    .about-content {
        margin-top: 6rem;
        margin-bottom: 6rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        .about-imgcontainer {
            border-radius: 2px;
            height: 420px;
            width: 100%;
            background-color: lightgray;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .about-copy {
            h2 {
                margin-top: .5rem;
            }
            p {
                margin-top: 1.5rem;
            }
            button {
                margin-top: 3rem;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .about-content {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 40px;
            .about-imgcontainer {
                height: 420px;
            }
        }
    }
}

.vision {
    .vision-content {
        margin-top: 6rem;
        margin-bottom: 6rem;
        .vision-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            .vision-item {
                border: 1px dashed rgba(46, 49, 146, 0.5);
                padding: 1rem;
            }
        }
        @media screen and (max-width: 768px) {
            .vision-grid {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 20px;
            }
        }
    }
}

.extra-info {
    .extra-info-content {
        margin-top: 6rem;
        margin-bottom: 6rem;
        h2 {
            text-align: center;
        }
        .extra-info-grid {
            margin-top: 3rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            .extra-info-item {
                background: url(../assets/img/Group3.png) no-repeat;
                background-size: cover;
                background-position: center center;
                height: 420px;
                padding: 1rem;
                p {
                    color: #fff;
                }
            }
        }
        @media screen and (max-width: 768px) {
            .extra-info-grid  {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 20px;
            }
        }
    }
}

.our-services {
    .our-services-content {
        margin-top: 6rem;
        margin-bottom: 6rem;
        h2 {
            text-align: center;
        }
        .our-services-grid {
            margin-top: 3rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            .our-services-item {
                border: 1px dashed rgba(46, 49, 146, 0.5);
                padding: 1rem;
                text-align: center;
                .box-frame {
                    display: inline-block;
                    border-radius: 50%;
                    box-shadow: -1px 7px 9px -1px rgba(0,0,0,0.1);
                    background-color: var(--color-primary);
                    i {
                        margin: 1rem;
                        color: #fff;
                    }
                }
                h4 {
                    margin-top: 1rem;
                }
            }
        }
        @media screen and (max-width: 768px) {
            .our-services-grid  {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 20px;
            }
        }
    }
}

// brands
.our-brands {
    .our-brands-content {
        margin-top: 6rem;
        margin-bottom: 6rem;
        h2 {
            text-align: center;
        }
        .our-brands-grid {
            margin-top: 3rem;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 10px;
            padding: 0 12rem;
            .our-brands-item {
                height: 64px;
                width: auto;
                border-radius: 5px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
        @media screen and (max-width: 768px) {
            .our-brands-grid  {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;
                padding: 0;
            }
        }
    }
}

// contact
.contact {
    .contact-content {
        margin-top: 9rem;
        margin-bottom: 9rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        .contact-imgcontainer {
            border-radius: 2px;
            height: 460px;
            width: 100%;
            background-color: #fcfcfc;
            overflow: hidden;
            box-shadow: var(--box-shadow);
            iframe {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .contact-copy {
            .contact-details {
                margin-top: 2rem;
                .contact-address {
                    margin-top: 2rem;
                    span {
                        display: block;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        .contact-content {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 40px;
            .contact-imgcontainer {
                height: 420px;
            }
        }
    }
}


// listings
.listings {
    .listings-content {
        margin-top: 6rem;
        margin-bottom: 6rem;
        .listings-header {
            text-align: center;
        }
        // listings multiple
        .listings-cards {
            margin-top: 3rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
            .listings-card {
                border: 1px solid rgba(252, 252, 252, 0.25);
                border-radius: 5px;
                box-shadow: var(--box-shadow);
                background-color: #fff;
                .listings-card-imgcontainer {
                    border-radius: 5px 5px 0px 0px;
                    height: 180px;
                    width: 100%;
                    background-color: lightgray;
                    overflow: hidden;
                    position: relative;
                    .pricetag {
                        position: absolute;
                        bottom: 0;
                        left: 1rem;
                        color: #fff;
                        padding: 2px 6px;
                        background-color: #1b1b1b;
                        border-radius: 4px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .listings-card-info {
                    padding: 1rem 1rem 1.5rem 1rem;
                    .info-top {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .makeandmodel {
                            color: var(--color-primary-dark);
                            font-weight: 600;
                            font-size: 1.125rem;
                        }
                        .year {
                            background-color: #cecece;
                            padding: 2px 6px;
                            border-radius: 5px;
                            color: #272727;
                            align-items: center;
                        }
                    }
                    hr {
                        margin: .5rem 0;
                        border: 1px solid #ececec;
                    }
                    .info-bottom {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 16px;
                        h5 {
                            color: var(--color-primary-dark);
                        }
                        p {
                            font-size: .8rem;
                            line-height: 1;
                        }
                    }
                    .info-cta {
                        margin-top: 1rem;
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
            .listings-cards {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 40px;
            }
        }
        // single-listing
        .single-listing {
            margin-top: 3rem;
            .single-listing-info {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;
                .single-listing-data {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    .data-col {
                        ul {
                            li {
                                list-style: none;
                                margin-bottom: 1rem;
                            }
                        }
                        .data-title {
                            font-weight: 600;
                        }
                    }
                }
                .single-listing-image {
                    .single-listing-imgcontainer {
                        height: 360px;
                        width: 100%;
                        background-color: lightgray;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

// featured-listings
.featured-listings {
    background-color: #ececec;
    padding-top: 6rem;
    padding-bottom: 6rem;
    .featured-listings-cta {
        margin-top: 4rem;
        text-align: center;
    }
}

// footer
footer {
    background-color: var(--color-primary-dark);
    .footer-content {
        padding-top: 6rem;
        padding-bottom: 1rem;
        .footer-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .footer-content-info {
                h4 {
                    color: #fff;
                    font-weight: 800;
                }
                p {
                    color: #cecece;
                    max-width: 45ch;
                    margin-top: 20px;
                }
                ul {
                    margin-top: 20px;
                    padding: 0;
                    list-style-type: none;
                    li {
                        color: #ffffff;
                        text-decoration: none;
                        text-align: left;
                        span {
                            margin-left: .5rem;
                            color: #cecece;
                            font-weight: 400;
                        }
                    }
                }
                .social-icons {
                    margin-top: 20px;
                    align-items: center;
                    a {
                        color: #909090;
                        margin-right: 10px;
                    }
                    a:hover {
                        color: #fff;
                    }
                }
            }
            .footer-content-links {
                width: 100%;
                display: flex;
                justify-content: space-around;
                .footer-content-nav-link {
                    h5 {
                        color: #fff;
                        font-weight: 500;
                    }
                    ul {
                        margin-top: 20px;
                        padding: 0;
                        list-style-type: none;
                        li {
                            text-decoration: none;
                            color: #909090;
                        }
                        a {
                            text-decoration: none;
                            color: #909090;
                        }
                        a:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 580px) {
            .footer-grid {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                .footer-content-links {
                    display: flex;
                    flex-direction: column;
                    margin-top: 40px;
                }
            }
        }
        .footer-content-bottom {
            border-top: 1px solid rgba(236, 236, 236, 0.1);
            text-align: center;
            margin-top: 40px;
            padding-top: 20px;
            p {
                color: #909090;
            }
            a {
                text-decoration: none;
                color: #cccccc;
                font-weight: 400;
            }
        }
    }
}